<?xml version="1.0" encoding="UTF-8"?>
<config>
  <jdbc>
    <url>jdbc:firebirdsql://localhost:3050/D:/test.FDB?lc_ctype=utf8</url>
    <username>sysdba</username>
    <password>1q2w3e4r</password>
  </jdbc>
  <application>
    <countThreads>5</countThreads>
    <workTime>5000</workTime>
    <clearDB>true</clearDB>
  </application>
</config>