<?xml version="1.0" encoding="UTF-8"?>
<config>
  <jdbc>
    <url>jdbc:mysql://localhost:3306/gen_number</url>
    <username>root</username>
    <password>hWN-h2z-aPE-8dQ</password>
    <maxConnection>5</maxConnection>
  </jdbc>
  <application>
    <countThreads>3</countThreads>
    <workTime>10000</workTime>
    <clearDB>true</clearDB>
  </application>
</config>